.main-checkbox {
  display: none;
}

.main-checkbox-label {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s
}

.main-checkbox:checked + .checkbox-checkmark {
  width: 8px;
  height: 12px;
  position: relative;
  bottom: 2px;
  transform: rotate(45deg);
  border: solid #999999;
  border-width: 0 3px 3px 0;
  background-color: transparent;
  display: block;
  transition: 0.3s
}
