.center-grid {
  display: flex;
  justify-content: center;
}
.center-header {
  text-align: center;
}
.toggler-and-counter {
  display: flex;
  justify-content: space-between;
}
.select-cell {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
.select-checkbox {}
