.center-grid {
  display: flex;
  justify-content: center;
}
.center-header {
  text-align: center;
}
.toggler-and-counter {
  display: flex;
  justify-content: space-between;
}
.select-cell {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
.ag-menu-option-icon {
  height: 16px;
  width: 16px;
  padding: 0;
  font-size: 16px;
  text-align: center;
}
